:root {
    --backgroud: #DAF7DC;
    --btn-backgroung: #9EE493;
    --border: 1px solid #000;
}

.footer {
    padding: 15px;
    height: 40vh;
    width: 100%;
    //border: var(--border);


    .container {
        .wrapper {
            .row {
                .footer-content {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 30px;

                    .col-3 {

                        .logo {


                            img {
                                width: 50%;

                            }

                            p {
                                font-size: 15px;
                                margin-top: 20px;
                                font-family: "Quicksand", sans-serif;
                            }

                        }
                    }

                    .menu {
                        //border: var(--border);
                        width: 150px;
                        margin-left: 60px;

                        h6 {
                            font-size: 18px;
                            font-weight: 900;
                        }

                        .sub-menu {
                            display: block;


                            ul {
                                li {
                                    text-decoration: none;
                                    list-style: none;
                                    margin-left: -10px;
                                    margin-top: 20px;

                                    #menu {
                                        margin-left: 0px;

                                        text-decoration: none;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }

                    .menu-2 {
                        //border: var(--border);
                        width: 200px;

                        h6 {
                            font-size: 18px;
                            font-weight: 900;
                        }

                        .U-menu {
                            display: block;


                            ul {
                                li {
                                    text-decoration: none;
                                    list-style: none;
                                    margin-left: 0px;
                                    margin-top: 20px;

                                    #menu {
                                        margin-left: 0px;

                                        text-decoration: none;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }

                    .signup-content {
                        //border: var(--border);


                        h6 {
                            font-size: 18px;
                            font-weight: 900;
                        }

                        p {
                            font-size: 15px;
                            margin-top: 20px;
                        }

                        .input {
                            input {
                                padding: 5px;
                                border-radius: 5px;
                                border: none;
                                border-bottom: 1px solid var(--btn-background);
                            }

                            // Text
                            input[type=text] {
                                appearance: none;
                                border: none;
                                outline: none;
                                border-bottom: .2em solid var(--btn-background);
                                border-radius: .2em .2em 0 0;
                                padding: .4em;

                            }
                        }

                        .btn {
                            background-color: var(--btn-background);
                            margin-left: 20px;
                            font-weight: 500;
                            color: #000;
                        }

                        .btn:hover {
                            background-color: var(--backgroud);
                            color: #000;
                            border-bottom: .2em solid var(--btn-backgroungd);
                        }

                        .social-media {
                            margin-top: 20px;

                            #social {
                                color: #000;
                                margin-left: 20px;

                                i {
                                    font-size: 20px;

                                }

                                i:hover {
                                    color: #9EE493;
                                }
                            }

                        }


                    }
                }
            }
        }
    }
}
//
@media only screen and (max-width: 768px) {
.footer {
        padding: 15px;
        height: 160vh;
        width: 100%;
        //border: var(--border);


        .container {
            .wrapper {
                .row {
                    .footer-content {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: 30px;
                        .col-3 {
                        width: 100%;
                        margin-top: 50px;
                        margin-bottom: 10px;
                        .menu {
                                //border: var(--border);
                                width: 150px;
                                margin-left: 0px;}
                                
                            }

                    }}}}}

}
